fastapi
uvicorn[standard]

langchain
langchain-community
langchain-core

langchain-openai

openai

pymongo

faiss-cpu

sentence-transformers

torch
transformers

pypdf
python-docx

python-multipart

tiktoken

pydantic
pydantic-settings

python-dotenv

numpy

scikit-learn

rank-bm25

FlagEmbedding

httpx

orjson

tenacity

tqdm